@using AddressBook.ViewModels
@model ClientViewModel

<div class="container mt-4">
    <h2>Add New Client</h2>
    <form asp-action="AddContact" method="post">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EmailAddress"></label>
            <input asp-for="EmailAddress" class="form-control" />
            <span asp-validation-for="EmailAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ContactNumber"></label>
            <input asp-for="ContactNumber" class="form-control" />
            <span asp-validation-for="ContactNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Company"></label>
            <input asp-for="Company" class="form-control" />
            <span asp-validation-for="Company" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success mt-3">Add Client</button>
        <a asp-action="Index" class="btn btn-secondary mt-3 ml-2">Cancel</a>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

